# Segmentez des clients d'un site e-commerce
## Notebook 1 : Requêtes pour dasboard
OpenClassrooms - Parcours Data Scientist - Projet 05

## Sommaire  
**Préparation de l'environnement**  
* Environnement virtuel
* Import des modules

**Découverte de la BBD Olist**
* Les tables
* Schéma relationnel

**Requêtes pour dashboard**
* Commandes récentes avec retard de livraison
* Meilleurs vendeurs
* Nouveaux vendeurs très engagés
* Codes postaux des pires review scores moyens

# 1 Préparation de l'environnement

## 1.1 Environnement virtuel

In [1]:
# Vérification environnement virtuel
envs = !conda env list
print(f"Environnement virtuel : {[e for e in envs if '*' in e][0].split('*')[1].strip()}")

Environnement virtuel : C:\Users\chrab\anaconda3\envs\opc5

## 1.2 Import des modules

In [2]:
# Installation des librairies
!pip install ipython-sql --quiet
!pip install pandas --quiet

In [3]:
# Import des modules
import pandas as pd

## Chargement des extensions

In [4]:
# Chargement de l'extension sqlite
%load_ext sql

## 1.3 Paramétrages

In [5]:
# Suppression du message de connection à chaque exécution d'une requête
%config SqlMagic.displaycon = False

# 2 Découverte de la BDD Olist

* L'extension '**.db**' de la BDD fournie indique qu'il s'agit d'une BDD ***SQLite***

In [6]:
# Connexion à la base de données
# Le fichier 'olist.db' doit se trouver dans le répertoire courant
%sql sqlite:///olist.db

## 2.1 Les tables

### 2.1.1 Liste des tables

In [7]:
# Liste des tables de la BDD
tables = %sql SELECT name FROM sqlite_master WHERE type='table';
display(tables)

Done.

[('customers',),
 ('geoloc',),
 ('order_items',),
 ('order_pymts',),
 ('order_reviews',),
 ('orders',),
 ('products',),
 ('sellers',),
 ('translation',)]

### 2.1.2 Structures des tables

In [8]:
for table in tables:
    table_name = table[0]
    structure = %sql PRAGMA table_info($table_name);
    first_row = %sql SELECT * FROM $table_name LIMIT 1;
    print(f"Structure de la table '{table_name}':")
    display(structure)
    print(f"1ère ligne de la table '{table_name}':")    
    display(first_row)
    print()

Done.
Done.
Structure de la table 'customers':

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'customer_id', 'TEXT', 0, None, 0),
 (2, 'customer_unique_id', 'TEXT', 0, None, 0),
 (3, 'customer_zip_code_prefix', 'BIGINT', 0, None, 0),
 (4, 'customer_city', 'TEXT', 0, None, 0),
 (5, 'customer_state', 'TEXT', 0, None, 0)]

1ère ligne de la table 'customers':

[(0, '06b8999e2fba1a1fbc88172c00ba8bc7', '861eff4711a542e4b93843c6dd7febb0', 14409, 'franca', 'SP')]

Done.
Done.
Structure de la table 'geoloc':

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'geolocation_zip_code_prefix', 'BIGINT', 0, None, 0),
 (2, 'geolocation_lat', 'FLOAT', 0, None, 0),
 (3, 'geolocation_lng', 'FLOAT', 0, None, 0),
 (4, 'geolocation_city', 'TEXT', 0, None, 0),
 (5, 'geolocation_state', 'TEXT', 0, None, 0)]

1ère ligne de la table 'geoloc':

[(0, 1037, -23.54562128115268, -46.63929204800168, 'sao paulo', 'SP')]

Done.
Done.
Structure de la table 'order_items':

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'order_id', 'TEXT', 0, None, 0),
 (2, 'order_item_id', 'BIGINT', 0, None, 0),
 (3, 'product_id', 'TEXT', 0, None, 0),
 (4, 'seller_id', 'TEXT', 0, None, 0),
 (5, 'shipping_limit_date', 'TEXT', 0, None, 0),
 (6, 'price', 'FLOAT', 0, None, 0),
 (7, 'freight_value', 'FLOAT', 0, None, 0)]

1ère ligne de la table 'order_items':

[(0, '00010242fe8c5a6d1ba2dd792cb16214', 1, '4244733e06e7ecb4970a6e2683c13e61', '48436dade18ac8b2bce089ec2a041202', '2017-09-19 09:45:35', 58.9, 13.29)]

Done.
Done.
Structure de la table 'order_pymts':

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'order_id', 'TEXT', 0, None, 0),
 (2, 'payment_sequential', 'BIGINT', 0, None, 0),
 (3, 'payment_type', 'TEXT', 0, None, 0),
 (4, 'payment_installments', 'BIGINT', 0, None, 0),
 (5, 'payment_value', 'FLOAT', 0, None, 0)]

1ère ligne de la table 'order_pymts':

[(0, 'b81ef226f3fe1789b1e8b2acac839d17', 1, 'credit_card', 8, 99.33)]

Done.
Done.
Structure de la table 'order_reviews':

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'review_id', 'TEXT', 0, None, 0),
 (2, 'order_id', 'TEXT', 0, None, 0),
 (3, 'review_score', 'BIGINT', 0, None, 0),
 (4, 'review_comment_title', 'TEXT', 0, None, 0),
 (5, 'review_comment_message', 'TEXT', 0, None, 0),
 (6, 'review_creation_date', 'TEXT', 0, None, 0),
 (7, 'review_answer_timestamp', 'TEXT', 0, None, 0)]

1ère ligne de la table 'order_reviews':

[(0, '7bc2406110b926393aa56f80a40eba40', '73fc7af87114b39712e6da79b0a377eb', 4, None, None, '2018-01-18 00:00:00', '2018-01-18 21:46:59')]

Done.
Done.
Structure de la table 'orders':

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'order_id', 'TEXT', 0, None, 0),
 (2, 'customer_id', 'TEXT', 0, None, 0),
 (3, 'order_status', 'TEXT', 0, None, 0),
 (4, 'order_purchase_timestamp', 'TEXT', 0, None, 0),
 (5, 'order_approved_at', 'TEXT', 0, None, 0),
 (6, 'order_delivered_carrier_date', 'TEXT', 0, None, 0),
 (7, 'order_delivered_customer_date', 'TEXT', 0, None, 0),
 (8, 'order_estimated_delivery_date', 'TEXT', 0, None, 0)]

1ère ligne de la table 'orders':

[(0, 'e481f51cbdc54678b7cc49136f2d6af7', '9ef432eb6251297304e76186b10a928d', 'delivered', '2017-10-02 10:56:33', '2017-10-02 11:07:15', '2017-10-04 19:55:00', '2017-10-10 21:25:13', '2017-10-18 00:00:00')]

Done.
Done.
Structure de la table 'products':

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'product_id', 'TEXT', 0, None, 0),
 (2, 'product_category_name', 'TEXT', 0, None, 0),
 (3, 'product_name_lenght', 'FLOAT', 0, None, 0),
 (4, 'product_description_lenght', 'FLOAT', 0, None, 0),
 (5, 'product_photos_qty', 'FLOAT', 0, None, 0),
 (6, 'product_weight_g', 'FLOAT', 0, None, 0),
 (7, 'product_length_cm', 'FLOAT', 0, None, 0),
 (8, 'product_height_cm', 'FLOAT', 0, None, 0),
 (9, 'product_width_cm', 'FLOAT', 0, None, 0)]

1ère ligne de la table 'products':

[(0, '1e9e8ef04dbcff4541ed26657ea517e5', 'perfumaria', 40.0, 287.0, 1.0, 225.0, 16.0, 10.0, 14.0)]

Done.
Done.
Structure de la table 'sellers':

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'seller_id', 'TEXT', 0, None, 0),
 (2, 'seller_zip_code_prefix', 'BIGINT', 0, None, 0),
 (3, 'seller_city', 'TEXT', 0, None, 0),
 (4, 'seller_state', 'TEXT', 0, None, 0)]

1ère ligne de la table 'sellers':

[(0, '3442f8959a84dea7ee197c632cb2df15', 13023, 'campinas', 'SP')]

Done.
Done.
Structure de la table 'translation':

[(0, 'index', 'BIGINT', 0, None, 0),
 (1, 'product_category_name', 'TEXT', 0, None, 0),
 (2, 'product_category_name_english', 'TEXT', 0, None, 0)]

1ère ligne de la table 'translation':

[(0, 'beleza_saude', 'health_beauty')]

## 2.2 Relations entre les tables

### 2.2.1 Analyse de la présentation du jeu de données

La [présentation du jeu de données sur Kaggle](https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce?select=olist_customers_dataset.csv) apporte les précisions suivantes :  
* Une commande peut contenir plusieurs produits
* Chaque produit peut être livré par un vendeur différent
* Table **order_items**  
  * Si un produit est acheté en quantité X dans une commande, il fera l'objet d'X enregistrement dans la table **order_items**
  * La valeur d'une commande `order_id` A est la somme des champs `price` et `freight_value` des lignes ayant l'`order_id` A
* Table **order_pymts**
   * Un client peut payer une commande avec plus d'une méthode de paiement
   * Dans de cas il y a création d'une séquence `payment_sequential`
* Table **customers**
   * Le champ `customer_id` est utilisé comme clé pour la relation avec `orders.customer_id` (99441 valeurs uniques). Chaque commande possède un `customer_id unique` : si un client passe plusieurs commandes, chaque commende se verra attribuer un `customer_id` différent
   * Le champ `customer_id_unique` est un identifiant unique de client (96096 valeurs uniques), indépendament du nombre de commandes qu'il a passé. Il reste identique pour un même client quelles que soient ses commandes    
* Table **orders**
   * `order_purchase_timestamp` : date d'achat
   * `order_approved_at` : date de validation du paiement
   * `order_deliverd_carrier_date` : date de prise en charge par le partenaire logistique
   * `order_delivered_customer_date` : date réelle de livraison au client
   * `order_estimated_delivery_date` : date estimée de livraison, donnée au client au moment de l'achat

### 2.2.2 Schéma relationnel

**Schéma relationnel BDD Olist**  

![shema relationnel](schema_relationnel_olist.png "Shéma relationnel BDD olist")

# 3 Requêtes pour dashboard

## 3.1 Commandes récentes avec retard de livraison

**Demande exacte :**  
* En excluant les commandes annulées, quelles sont les commandes récentes de moins de 3 mois que les clients ont reçues avec au moins 3 jours de retard ?

**Analyse :**  
* Rechercher les différents statuts possible d'un commande (table **`orders`**) pour déterminer celui correspondant aux commandes annulées
* Hypothèses :
   * une commande de moins de 3 mois est une commande **approuvée** (`order_approved_at`) il y a moins de 3 mois
   * 3 mois correspondent à 90 jours
* Pour calculer le nombre de jours de retard, on comparera la date estimée de livraison au client (`order_estimated_delivery_date`) qui est probablement celle annoncée au client, avec la date effective de livraison (`order_delivered_customer_date`)
* Pour le dashboard le point de départ sera la date du jour, mais pour les tests on partira du principe que la date du jour est la date de la dernière opération d'achat ou d'approbation dans la base

### 3.1.1 Quel est le statut d'une commande annulée ?

In [9]:
# Affichage des statuts de commande uniques
%sql SELECT DISTINCT(order_status) FROM orders;

Done.

[('delivered',),
 ('invoiced',),
 ('shipped',),
 ('processing',),
 ('unavailable',),
 ('canceled',),
 ('created',),
 ('approved',)]

Une commande annulée a le statut *'canceled'*

### 3.1.2 Quelle est la date de la plus récente opération ?

In [10]:
# Recherche de la date la plus récente entre les dates d'achat et d'approbation
most_recent_date = %sql SELECT MAX(MAX(order_purchase_timestamp), MAX(order_approved_at)) AS most_recent FROM orders;
print(most_recent_date)

Done.
+---------------------+
|     most_recent     |
+---------------------+
| 2018-10-17 17:30:18 |
+---------------------+

### 3.1.3 Requête de test

La fonction SQLite `julianday()` permet de gérer simplement les calculs sur les dates, elle attend en paramètre un timestamp sous forme texte, et renvoit le nombre de jours écoulés depuis le 24 novembre 4714 av. J.-C. à 12h00, heure de Greenwich, dans le calendrier grégorien, sous la forme d'un flottant.

In [11]:
# Formattage de la date la plus récente pour 'julianday()'
most_recent_date = f"{most_recent_date[0][0]}"

In [12]:
%%sql
SELECT order_id, customer_id, order_status, order_delivered_customer_date, order_estimated_delivery_date
FROM orders
WHERE order_status != 'canceled' -- Commandes non annulées
  AND julianday(:most_recent_date) - julianday(order_approved_at) <= 90  -- Approuvées il y a au moins 3 mois
  AND julianday(order_delivered_customer_date) - julianday(order_estimated_delivery_date) >= 3 -- avec au moins 3 jours de retard
LIMIT 10;

Done.

[('cfa4fa27b417971e86d8127cb688712f', '7093250e1741ebbed41f0cc552025fd6', 'delivered', '2018-08-29 01:41:41', '2018-08-22 00:00:00'),
 ('234c056c50619f48da64f731c48242b4', '44e460a655f7154ccd9faa4dbbbaf68a', 'delivered', '2018-09-01 18:14:42', '2018-08-23 00:00:00'),
 ('7f579e203c931f3e8410103359c6d523', 'd665be250d1c687c58fdea61a9b55a58', 'delivered', '2018-08-13 20:11:47', '2018-08-09 00:00:00'),
 ('cb6e441ff2ef574ce08d3709426f88ec', '4fb843d304c57182d4aa27bb39ca592b', 'delivered', '2018-08-18 01:11:58', '2018-08-15 00:00:00'),
 ('03720fdc92032ee4abd471d172006ab0', '116458665bac0ff47d5e87f65e8ec681', 'delivered', '2018-08-21 00:11:52', '2018-08-17 00:00:00'),
 ('7a268da1c6173cf3d0847a89afdaf84e', '293407b5065d8fd7fa7077179c1cca3b', 'delivered', '2018-08-14 17:21:32', '2018-08-10 00:00:00'),
 ('4c8c092a897404409eb4858b2c35f100', 'a82a9ed42b002098621df8124fefd4ff', 'delivered', '2018-08-14 17:51:20', '2018-08-10 00:00:00'),
 ('1cf0fc2c07de89a211f8dcf9ff5af15b', '97a0e2c05d5882609289a1816e234ba0', 'delivered', '2018-08-18 18:21:11', '2018-08-15 00:00:00'),
 ('34871174fe1f4c68f7efac5e5b3fbbde', '0d72c06cbd17cde4598ce4aa6d065a7c', 'delivered', '2018-08-30 16:03:02', '2018-08-27 00:00:00'),
 ('d30c22b84ba5239f2ae0fc078be7611c', '42b3b672e11bdf08931bcbc9ebaa7eb2', 'delivered', '2018-08-22 14:15:51', '2018-08-14 00:00:00')]

### 3.1.4 Requête version dashboard  
```SQL
SELECT order_id, customer_id, order_status, order_delivered_customer_date, order_estimated_delivery_date
FROM orders
WHERE order_status != 'canceled' -- Commandes non annulées
  AND julianday('now') - julianday(order_approved_at) <= 90  -- approuvées il y a au moins 3 mois
  AND julianday(order_delivered_customer_date) - julianday(order_estimated_delivery_date) >= 3; -- avec au moins 3 jours de retard``
```

## 3.2 Meilleurs vendeurs

**Dmande exacte :**  
* Qui sont les vendeurs ayant généré un chiffre d'affaires de plus de 100 000 Real sur des commandes livrées via Olist ?

**Analyse :**  
* Informations à afficher : `sellers.seller_id`, CA généré
* Informations à calculer : CA généré = somme des `order_items.price` par vendeur
* Filtres :
   * CA généré >= 100 000
   * `orders.order_status` = 'delivered'

In [13]:
%%sql
SELECT seller_id, ROUND(SUM(price), 2) AS CA
FROM order_items
WHERE order_id IN (SELECT order_id
                   FROM orders
                   WHERE order_status='delivered')
GROUP BY seller_id
HAVING SUM(price) > 100000
ORDER BY CA DESC;

Done.

[('4869f7a5dfa277a7dca6462dcf3b52b2', 226987.93),
 ('53243585a1d6dc2643021fd1853d8905', 217940.44),
 ('4a3ca9315b744ce9f8e9374361493884', 196882.12),
 ('fa1c13f2614d7b5c4749cbc52fecda94', 190917.14),
 ('7c67e1448b00f6e969d365cea6b010ab', 186570.05),
 ('7e93a43ef30c4f03f38b393420bc753a', 165981.49),
 ('da8622b14eb17ae2831f4ac5b9dab84a', 159816.87),
 ('7a67c85e85bb2ce8582c35f2203ad736', 139658.69),
 ('1025f0e2d44d7041d6cf58b6550e0bfa', 138208.56),
 ('955fee9216a65b617aa5c0531780ce60', 131836.71),
 ('46dc3b2cc0980fb8ec44634e21d2718e', 122811.38),
 ('6560211a19b47992c3666cc44a7e94c0', 120702.83),
 ('620c87c171fb2a6dd6e8bb4dec959fc6', 112461.5),
 ('7d13fca15225358621be4086e1eb0964', 112436.18),
 ('5dceca129747e92ff8ef7a997dc4f8ca', 111126.73),
 ('1f50f920176fa81dab994f9023523100', 106655.71),
 ('cc419e0650a3c5ba77189a1882b7556a', 101090.96)]

## 3.3 Nouveaux vendeurs très engagés

**Demande exacte :**  
* Qui sont les nouveaux vendeurs (moins de 3 mois d'ancienneté) qui sont déjà très engagés avec la plateforme (ayant déjà vendu plus de 30 produits) ?  

**Analyse :**  
* Pas d'information de disponible dans la BDD sur la date de début d'un vendeur : on utilisera la date de sa première vente comme date supposée de début
* La vente d'un produit est considérée comme valide lorsque le paiement de la commande associée est approuvé
* 1 produit vendu = 1 ligne dans **order_items**

### 3.3.1 Date de départ (`julianday()`)

* Pour la requête dasboard

In [14]:
start_date = %sql SELECT julianday('now') - 90
# équivalent à : %sql SELECT julianday('now', '-90 days')

Done.

* Pour la requête test

In [15]:
# Recherche de la date la plus récente entre les dates d'achat et d'approbation
most_recent_date = %sql SELECT MAX(MAX(order_purchase_timestamp), MAX(order_approved_at)) AS most_recent FROM orders;

# Passage au format texte
most_recent_date = most_recent_date[0][0]

print(most_recent_date)

Done.
2018-10-17 17:30:18

### 3.3.2 "Anciens" vendeurs

* Recherche de vendeurs dont la dernière vente date de plus 90 jours ou plus
* En excluant ces vendeurs on obtiendra ceux qui sont supposés nouveaux
* A noter que cette solution n'est pas optimale, il pourrait y subsister des vendeurs présents depuis plus de 3 mois, mais n'ayant fait aucune vente au départ...

In [16]:
%%sql
SELECT DISTINCT(seller_id)
FROM order_items AS oi
INNER JOIN orders AS o
ON oi.order_id = o.order_id
GROUP BY seller_id
HAVING julianday(:most_recent_date) - julianday(MIN(order_approved_at)) >= 90
LIMIT 10;  -- Uniquement pour limiter l'affichage lors des tests, ligne à supprimer ensuite

Done.

[('0015a82c2db000af6aaaf3ae2ecb0532',),
 ('001cca7ae9ae17fb1caed9dfb1094831',),
 ('002100f778ceb8431b7a1020ff7ab48f',),
 ('003554e2dce176b5555353e4f3555ac8',),
 ('004c9cd9d87a3c30c522c48c4fc07416',),
 ('00720abe85ba0859807595bbf045a33b',),
 ('00ab3eff1b5192e5f1a63bcecfee11c8',),
 ('00d8b143d12632bad99c0ad66ad52825',),
 ('00ee68308b45bc5e2660cd833c3f81cc',),
 ('00fc707aaaad2d31347cf883cd2dfe10',)]

### 3.3.3 Requête de test

In [17]:
%%sql
WITH anciens_vendeurs AS (
    SELECT seller_id
    FROM order_items AS oi
    INNER JOIN orders AS o ON oi.order_id = o.order_id
    GROUP BY seller_id
    HAVING julianday(:most_recent_date) - julianday(MIN(order_approved_at)) >= 90
)

SELECT oi.seller_id, COUNT(oi.order_item_id) AS nombre_de_produits_vendus
FROM order_items AS oi
WHERE oi.seller_id NOT IN (SELECT seller_id FROM anciens_vendeurs)
GROUP BY oi.seller_id
HAVING COUNT(oi.order_item_id) > 30
ORDER BY nombre_de_produits_vendus DESC;

Done.

[('d13e50eaa47b4cbe9eb81465865d8cfc', 69),
 ('81f89e42267213cb94da7ddc301651da', 52)]

### 3.3.4 Requête version dashboard  
```SQL
WITH anciens_vendeurs AS (
    SELECT seller_id
    FROM order_items AS oi
    INNER JOIN orders AS o ON oi.order_id = o.order_id
    GROUP BY seller_id
    HAVING julianday('now') - julianday(MIN(order_approved_at)) >= 90
)

SELECT oi.seller_id, COUNT(oi.order_item_id) AS nombre_de_produits_vendus
FROM order_items AS oi
WHERE oi.seller_id NOT IN (SELECT seller_id FROM anciens_vendeurs)
GROUP BY oi.seller_id
HAVING COUNT(oi.order_item_id) > 30
ORDER BY nombre_de_produits_vendus DESC;
```

## 3.4 Codes postaux des pires review scores moyens

**Demande exacte :**  
* Quels sont les 5 codes postaux, enregistrant plus de 30 commandes, avec le pire review score moyen sur les 12 derniers mois ?

**Analyse :**  
* Compter le nombre de commandes regroupées par codes postaux
* Sélectionner uniquement ceux ayant un nombre de commandes > 30  
* Calculer la moyenne des review scores des commandes des 12 derniers mois des codes postaux sémectionnés
* Faire un top 5 des moins bonnes moyennes

### 3.4.1 Codes postaux ayant un nombre de commandes > 30

In [18]:
%%sql
SELECT customer_zip_code_prefix, COUNT(customer_id) AS nombre_de_commandes
FROM customers
GROUP BY customer_zip_code_prefix
HAVING COUNT(customer_id) > 30
ORDER BY nombre_de_commandes
LIMIT 10;

Done.

[(3572, 31),
 (5782, 31),
 (7190, 31),
 (8773, 31),
 (9111, 31),
 (9750, 31),
 (13015, 31),
 (13185, 31),
 (13416, 31),
 (13419, 31)]

### 3.4.2 Commandes des 12 derniers mois des codes postaux sélectionnés

* Date la plus récente

In [15]:
# Recherche de la date la plus récente entre les dates d'achat et d'approbation
most_recent_date = %sql SELECT MAX(MAX(order_purchase_timestamp), MAX(order_approved_at)) AS most_recent FROM orders;

# Passage au format texte
most_recent_date = most_recent_date[0][0]

print(most_recent_date)

Done.
2018-10-17 17:30:18

* Commandes valides des 12 derniers mois

In [19]:
%%sql
SELECT order_id, customer_id
FROM orders
WHERE order_approved_at IS NOT NULL
    AND order_status != 'canceled'
    AND julianday(order_approved_at) >= julianday(:most_recent_date, '-1 years')
LIMIT 10;

Done.

[('53cdb2fc8bc7dce0b6741e2150273451', 'b0830fb4747a6c6d20dea0b8c802d7ef'),
 ('47770eb9100c2d0c44946d9cf07ec65d', '41ce2a54c0b03bf3443c3d931a367089'),
 ('949d5b44dbf5de918fe9c16f97b45f8a', 'f88197465ea7920adcdbec7375364d82'),
 ('ad21c59c0840e6cb83a9ceb5573f8159', '8ab97904e6daea8866dbdbc4fb7aad2c'),
 ('82566a660a982b15fb86e904c8d32918', 'd3e3b74c766bc6214e0c830b17ee2341'),
 ('5ff96c15d0b717ac6ad1f3d77225a350', '19402a48fe860416adf93348aba37740'),
 ('432aaf21d85167c2c86ec9448c4e42cc', '3df704f53d3f1d4818840b34ec672a9f'),
 ('dcb36b511fcac050b97cd5c05de84dc3', '3b6828a50ffe546942b7a473d70ac0fc'),
 ('403b97836b0c04a622354cf531062e5f', '738b086814c6fcc74b8cc583f8516ee3'),
 ('116f0b09343b49556bbad5f35bee0cdf', '3187789bec990987628d7a9beb4dd6ac')]

### 3.4.3 Requête de test

In [20]:
%%sql
WITH orders_zip_codes AS (
    WITH
    valid_orders AS (
        SELECT order_id, customer_id
        FROM orders
        WHERE order_approved_at IS NOT NULL
            AND order_status != 'canceled'
            AND julianday(order_approved_at) >= julianday(:most_recent_date, '-1 years')
    ),
    zip_codes AS (
        SELECT customer_zip_code_prefix, COUNT(customer_id) AS nombre_de_commandes
        FROM customers
        GROUP BY customer_zip_code_prefix
        HAVING COUNT(customer_id) > 30
    )
    SELECT customer_zip_code_prefix, c.customer_id, order_id
    FROM valid_orders vo
    INNER JOIN customers c
    ON vo.customer_id = c.customer_id
    WHERE customer_zip_code_prefix IN (SELECT customer_zip_code_prefix FROM zip_codes)
    ORDER BY customer_zip_code_prefix
)
SELECT customer_zip_code_prefix, ROUND(AVG(review_score), 2) AS moyenne_review_scores
FROM orders_zip_codes ozc
LEFT JOIN order_reviews o
ON o.order_id = ozc.order_id
GROUP BY customer_zip_code_prefix
ORDER BY moyenne_review_scores ASC
LIMIT 5

Done.

[(22753, 2.81), (65075, 2.86), (28893, 2.96), (22621, 3.08), (22723, 3.08)]

### 3.4.4 Requête version dashboard  
```SQL
WITH orders_zip_codes AS (
    WITH
    valid_orders AS (
        SELECT order_id, customer_id
        FROM orders
        WHERE order_approved_at IS NOT NULL
            AND order_status != 'canceled'
            AND julianday(order_approved_at) >= julianday('now', '-1 years')
    ),
    zip_codes AS (
        SELECT customer_zip_code_prefix, COUNT(customer_id) AS nombre_de_commandes
        FROM customers
        GROUP BY customer_zip_code_prefix
        HAVING COUNT(customer_id) > 30
    )
    SELECT customer_zip_code_prefix, c.customer_id, order_id
    FROM valid_orders vo
    INNER JOIN customers c
    ON vo.customer_id = c.customer_id
    WHERE customer_zip_code_prefix IN (SELECT customer_zip_code_prefix FROM zip_codes)
    ORDER BY customer_zip_code_prefix
)
SELECT customer_zip_code_prefix, ROUND(AVG(review_score), 2) AS moyenne_review_scores
FROM orders_zip_codes ozc
LEFT JOIN order_reviews o
ON o.order_id = ozc.order_id
GROUP BY customer_zip_code_prefix
ORDER BY moyenne_review_scores ASC
LIMIT 5
```